* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-basis: auto;
}

.col-1 {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

main {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

article {
    flex-basis: auto;
    flex-grow: 3;
}

header, footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}